/* style.css */

body {
    background: #1f2937;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, verdana, sans-serif
}

.header {
    padding: 1px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .logo {
     font-size: 24px;
     color: #F9FAF8;
 }

ul {
    list-style-type: none;
    font-size: 16px;
    color: #e5e7eb;
    display: flex;
    gap: 50px;
}

.intro {
    padding: 100px 160px;
    display: flex;
    gap: 75px;
}

.intro-container {
    display: flex;
    flex-direction: column;
}

.maintitle {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 450px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0px;
    width: 450px;
}

button {
    background: #3882f6;
    border: none;
    border-radius: 5px;
    width: 150px;
}

.signup {
    color: #F9FAF8;
    font-size: 16px;
    padding: 10px;
}

.imagebox {
    text-align: center;
    padding: 100px 0px;
    color: #e5e7eb;
    background: rgb(131, 131, 101);
    width: 450px;
    height: auto;
}

.info {
    background: white;
    padding-bottom: 96px;
    margin: 0px -10px;
}

.infotitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 30px;
    text-align: center;
}

.infocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.infobox {
    max-width: 150px;
}

.box {
    width: 150px;
    height: 150px;
    background: #3882f6;
    border-radius: 10px
}

.text {
    font-size: 16px;
    color: #a7aaaf;
    text-align: center;
    padding-top: 10px;
}

.quotebox {
    background: #e5e7eb;
    margin: 0px -10px;
    padding: 96px;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.author {
    font-size: 30px;
    font-weight: bold;
    color: #1f2937;
}

.calltoaction {
    background: white;
    padding: 96px;
    margin: -10px;
    display: flex;
    justify-content: center;
}

.ctabox {
    background: #3882f6;
    border-radius: 10px;
    width: 750px;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.ctaheader {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

.ctasubtext {
    font-size: 16px;
    color: #e5e7eb;
}

.ctasignup {
    color: #f9faf8;
    font-size: 16px;
    width: 120px;
    padding: 5px
}

.button2 {
    border: 2px solid white
}

.footer {
    background-color: #1f2937;
    margin: 10px;
    color: #e5e7eb;
    font-size: 14px;
    text-align: center;
    padding: 30px;
}